// responsive
        // mobile
$mobile-min:320px;
$mobile-max:480px;
        // tablets
$tablets-min:481px;
$tablets-max:768px;
        // laptops6
$laptops-min:769px;
$laptops-max:1024px;
        // Desktops
$desktops-min:1025px;
$desktops-max:1200px;
        // TV
$tv:1201px;
// for height fullscreen or less
$fullscreen-height:100vh;
$aboutUs-height:90vh;
$gallery-height:fit-content;
$fit :fit-content;
$footer-height:fit-content;
// color background
$back-dark : #262626;
$footer-back-color:#5c5a5a;

// header
        // color
$color-gray-main:#bbb;
$color-gold-main:#d3ab55;
$color-goldwhite:#d9caaa;
$color-black-pure:#000;
$color-webkit1:snow;
// font

